<div class="popular-searches">
  <h2>Popular Searches</h2>
  <div>
    <%= button_to "Clear Serches", delete_all_searches_path, method: :delete, data: { confirm: "Are you sure you want to delete all records?" }, class: "btn btn-danger" %>
  </div>
</div>

<ul>
  <% popular_searches.each do |query, count| %>
    <li><strong><%= query %></strong> — <%= count %> searches</li>
  <% end %>
</ul>