
<h1>Search Analytics</h1>

<div class="container">
  <%= form_with url: searches_path, method: :post, data: { controller: "search", turbo_stream: true }, id: "search-form" do %>
    <%= text_field_tag :text, nil, id: "search-input", autocomplete: "off", placeholder: "Type your search...", data: { action: "input->search#submit" } %>
  <% end %>

  <turbo-frame id="popular_searches">
    <%= render partial: "popular_searches", locals: { popular_searches: @popular_searches } %>
  </turbo-frame>
</div>
