
<h1>Search Analytics</h1>

<div class="container">
  <%= form_with url: searches_path, method: :post, local: true do |f| %>
    <%= f.text_field :text, placeholder: "Type a search term...", autofocus: true %>
  <% end %>

  <div id="popular-searches">
    <%= render partial: "popular_searches", locals: { popular_searches: @popular_searches } %>
  </div>

  <%= button_to "Clear Serches", delete_all_searches_path, method: :delete, data: { confirm: "Are you sure you want to delete all records?" }, class: "btn btn-danger" %>
</div>
